/* --------------------------------------Web Fonts------------------------*/
@font-face{
font-family: 'Kalam', cursive;
src: url('https://fonts.googleapis.com/css?family=|Kalam:300,400,700');
font-family: 'Heebo', sans-serif;
src: url('https://fonts.googleapis.com/css?family=Heebo');

}
/* --------------------------------------Base Styles --------------------------------------*/
* {
  box-sizing: border-box;
}
p {
	font-size: .95em;
  margin: 10px;
  line-height: 1.2;
}
body {
  font-family: 'Heebo', sans-serif;
  color: #000000;
}
h1 { 
  font-family: 'Kalam', cursive;
  font-size: 1.4rem; 
  text-transform: uppercase;
  line-height: 1.2;
  margin: 20px 10px;
}
h3 {
  font-family: 'Kalam', cursive;
  font-size: 1.25em; 
  color: #228005;
  line-height: 1.2;
  margin-bottom: 10px; 
  margin-top: 10px;
  padding-left: 5px;
}
img {
  max-width: 100%;
  border-radius: 10px;
  display: inline-block;
}
ul,
ol {
  margin: 5px 0;
  padding: 5px;
}
li {
  padding: 5px;
  text-align: left;
}
a{
  color:#ee6103;
  font-weight: bold;
}

/* -------------------------------------- Pseudo-classes -------------------------------------- */
a:link {
  color:#02000a;
  text-decoration: none;
}
a:hover {
  color: #05833a;
}
a:active {
  color: #05833a;;
  font-weight: bold;
}

/* -------------------------------------- Animation -------------------------------------- */
@keyframes pop-action {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.pop-action {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pop-action:hover,
.pop-action:focus,
.pop-action:active {
  -webkit-animation-name: pop-action;
  animation-name: pop-action;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* -------------------------------------- Layout Containers ---------------------------------*/
.main-header {
  height: 260px;
  background: url('../images/header.jpg') no-repeat center;
  background-size: cover;
  padding: 20px 25px;
}
.wrap {
  padding-bottom: 25px;
}
.container, 
.description {
	padding-left: 0.7em;
  padding-right: 0.7em;
}
.main-footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background:url('../images/footer.jpg') no-repeat;
}
/*-------------------------------------- Layout Styles -------------------------------------- */
.page-name {
  font-family: 'Kalam', cursive; 
  text-shadow: 4px 4px 4px #aaa;
  font-size: 1.3em; 
  color:#0c0c0c;
  text-align: left;
  display: inline-block;
  padding-left: 40px;
}
.page-title {
  text-align: left;
  padding: 10px 5px;
  margin: auto;
  max-width: 960px;
}
.page-link,
.appointment {
  color: black;
  text-align: center;
  margin: 5px;
} 
.prices li::before {
 content: "•";
 width: 1em;
 font-weight: bold;
 font-size: 20px;
 color:  #f57226;
 padding-right: 10px;
}
.page-link a {
  margin: 10px;
  text-align: center;
}
.recomendation span, 
.two-col span,
.appointment span {
  color:  #05833a;
  font-weight: bold;
}
.avatar {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin:auto;
}
/* -------------------------------------- Form Style -------------------------------------- */
form {
  max-width: 350px;
  margin: 10px auto;
  padding: 15px 20px;
  background: #ebe9e6;
  border-radius: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fafafa;
  color: #080808;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
input[type="radio"] {
  margin: 0 4px 8px 0;
}
legend {
  font-family: 'Kalam', cursive;
  font-size: 1.2em; 
  color: #228005;
  line-height: 1.2; 
  margin-bottom: 20px; 
  font-weight: bold;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
label.opt {
  font-weight: 300;
  display: inline;
}
button {
  padding: 15px 20px;
  color: #080808;
  background-color: #05833a;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  width: 50%;
  box-shadow: 3px 2px 1px #aaa;
  margin: 10px auto;
}
 /* -------------------------------------- Navigation -------------------------------------- */
.main-nav {
  text-align: left;
  display: inline-block;
  padding-left: 5px;
  font-size: 0.95em; 
}
.main-nav a {
	text-align: center;
	display: block;
	padding: 5px 5px;
}
.main-nav ul  {
  padding: 5px 0;
}
/* -------------------------------------- Modal -------------------------------------- */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  overflow: auto;
  z-index: 1;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdfdfd;
  font-size: .95em;
  text-align: justify; 
  padding: 0.5rem 2rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 15%;
  background-color: #f57226;
}
.card {
  padding: 15px 20px;
  color: #080808;
  background-color: #f1ece9;
  font-size: 15px;
  border-radius: 10px;
  width: auto;
  margin: 10px auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: -10px;
}
.prev {
  right: 350px;
}
.card:hover {
  box-shadow: 3px 2px 1px #aaa;
}
.prev:hover,
.next:hover {
  background-color:#ebe9e6;
}
.close-button:hover {
  background-color: #05833a;
}
/* -------------------------------------- Floated Columns -------------------------------------- */
.ben-inc,
.ben-red,
.bio,
.sf-img,
.prices,
.recomendation {
  padding: 0.7em;
}
/* -------------------------------------- Float Clearfix -------------------------------------- */
.group::after,
.col::after {
  content: "";
  display: table;
  clear: both;
}
/* -------------------------------------- Media Queries --------------------------------------*/
@media (max-width:768px) {
  .page-title,
  .description {
    width: 100%; 
    padding:  5px 30px;
    text-align: center;
  }
  .main-header {
    display: flex;
    align-items: center;
  }
  .page-name {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    background: #ebe9e69f;
    border-radius: 5px;
    text-align: right;
  }
}
@media (min-width: 769px) {
  .wrap {
		min-height: calc(100vh - 130px);
  }
  .two-col {
   display: flex;
  }
  .container {
		width: 90%;
		max-width: 1150px;
		margin: 0 auto;
  }
  .description {
		width: 90%;
    max-width: 1150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:auto;
  }
  .col {
    float: left;
    width: 90%;
  }
  .ben-inc,
	.ben-red {
		width: 50%;
  }
  .bio, 
  .sf-img, 
  .prices,
  .recomendation  {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  } 
  form {
    max-width: 600px;
  }
}
@media (max-width:1024px){
  .page-title,
  .main-content {
    width:90%;
  }
  .main-header {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .container,
  .description {
		width: 90%;
    max-width: 1150px;
    display: flex;
    margin: auto;
  }
  .main-header {
    display: flex;
    align-items: center;
  }
  .page-name {
    display: flex;
    align-content: center;
  }
}